<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sistema de Nomina</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/faviicon.ico" />
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema De Nomina", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <!-- <a><img src="~/Portada.jpg" alt="Portada" class="navbar-brand" width="100%"/></a>-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Empleado", "Index", "EMPLEADO")</li>
                    <li>@Html.ActionLink("Departamento", "Index", "DEPARTAMENTO")</li>
                    <li>@Html.ActionLink("Puesto", "Index", "PUESTO")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Nomina - RRHH</p>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Sobre Nosotros", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var _userway_config = {
            // uncomment the following line to override default position
            position: 6,
            // uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)
            language: 'en',
            // uncomment the following line to override color set via widget
            color: '#053e67',
            account: 'e7g3NZriA1'
        };
    </script>
    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
</body>

</html>
