@model SISTEMANOMINA.PUESTO

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar este registro?</h3>
<div>
    <h4>Puesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Puesto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PUESTO)
        </dd>

        <dt>
            @Html.Label("Salario Minimo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIVEL_SALARIO_MIN)
        </dd>

        <dt>
            @Html.Label("Salario Maximo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIVEL_SALARIO_MAX)
        </dd>

        <dt>
            @Html.Label("Riesgo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIVEL_RIESGO.TIPO_RIESGO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver Atras", "Index")
        </div>
    }
</div>
